
.sold {
	opacity: 0.2;
    filter: alpha(opacity=20); /* For IE8 and earlier */
	text-decoration: line-through;
	-webkit-filter: grayscale(1);
	-webkit-filter: grayscale(100%);
	filter: gray;
	filter: grayscale(100%);
}